.solid-logo {
    width: 248px;
    height: 200px;
    margin: 150px;
    margin-left: 450px;
    position: absolute;
    animation-name: bounce;
    animation-duration: 2.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    animation-iteration-count: infinite;
}